.myCell {
  border: 2px solid rgb(255, 255, 255);
  color: black;
  cursor: pointer;
  background-color: rgb(135, 177, 224);
  text-align: center;
  border-radius: 5px;
}

.mySelectedCell {
  border-style: solid;
  background-color: rgb(231, 228, 228);
  color: black;
  text-align: center;
  text-shadow: 3px 0px 3px black;
}

.myCell:hover {
  background-color: rgb(59, 63, 151);
  color: white;
}